@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@font-face {
    font-family: 'Google SansMedium';
    src: url('../fonts/GoogleSans-Medium.woff2') format('woff2'),
    url('../fonts/GoogleSans-Medium.woff') format('woff'),
    url('../fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Google SansBoldItalic';
    src: url('../fonts/GoogleSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/GoogleSans-BoldItalic.woff') format('woff'),
    url('../fonts/GoogleSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Google SansBold';
    src: url('../fonts/GoogleSans-Bold.woff2') format('woff2'),
    url('../fonts/GoogleSans-Bold.woff') format('woff'),
    url('../fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Google SansMediumItalic';
    src: url('../fonts/GoogleSans-MediumItalic.woff2') format('woff2'),
    url('../fonts/GoogleSans-MediumItalic.woff') format('woff'),
    url('../fonts/GoogleSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Google SansRegular';
    src: url('../fonts/GoogleSans-Regular.woff2') format('woff2'),
    url('../fonts/GoogleSans-Regular.woff') format('woff'),
    url('../fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google SansItalic';
    src: url('../fonts/GoogleSans-Italic.woff2') format('woff2'),
    url('../fonts/GoogleSans-Italic.woff') format('woff'),
    url('../fonts/GoogleSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins', sans-serif !important;
    font-weight: normal !important;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
}

.user-bg .overlay-box {
    background: #666;
    opacity: .9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}

.user-bg .overlay-box .user-content {
    padding: 15px;
    margin-top: 30px;
}

.user-bg {
    margin: -25px;
    height: 230px;
    overflow: hidden;
    position: relative;
}

h4 {
    line-height: 22px;
    font-size: 18px;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.img-circle {
    border-radius: 50%;
}

.user-btm-box {
    padding: 50px 0 0px;
    clear: both;
    overflow: hidden;
}

.book_details {
    padding: 0px;
}

.book_details li {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}

.pickup_circle {
    width: 22px;
    height: 22px;
    background-color: #01e02a;
    border-radius: 50px;
    display: inline-block;
    margin-right: 20px;
}

.drop_circle {
    width: 22px;
    height: 22px;
    background-color: #ff0000;
    border-radius: 50px;
    display: inline-block;
    margin-right: 20px;
}

.book_details li h4 {
    color: #333;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.book_details li p {
    margin: 0px;
    padding-top: 5px;
    color: #666;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #90a4ae;
}

.card-title {
    margin-bottom: 15px;
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #90a4ae;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #90a4ae;
}

.card-title {
    margin-bottom: 15px;
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #90a4ae;
}

.btn {
    line-height: 1.42857143 !important;
}

.act_ion {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    color: #666;
}

.btn_edit {
    color: #fff !important;
    border: 1px solid #f89c2c !important;
    padding: 2px 6px 2px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background: #f89c2c;
}

.btn_edit:hover {
    color: #fff !important;
    background: #f89c2c;
    transition: .2s;
}

.btn_eye {
    color: #fff !important;
    border: 1px solid #1fae66 !important;
    padding: 2px 6px 2px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background: #1fae66;
}

.btn_eye i {
    font-size: 12px !important;
}

.btn_eye:hover {
    color: #fff !important;
    background: #1fae66;
    transition: .2s;
}

.btn_eye_dis {
    color: #fff !important;
    border: 1px solid #d9534f !important;
    padding: 2px 6px 2px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background: #d9534f;
}

.btn_eye_dis i {
    font-size: 12px !important;
}

.btn_eye_dis:hover {
    color: #fff !important;
    background: #d9534f;
    transition: .2s;
}

.btn_delete {
    color: #fff !important;
    border: 1px solid #f74a13 !important;
    padding: 2px 6px 2px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background: #f74a13;
}

.btn_delete:hover {
    color: #fff !important;
    background: #f74a13;
    transition: .2s;
}

.btn_money {
    color: #fff !important;
    border: 1px solid #709E9D !important;
    padding: 2px 6px 2px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background: #709E9D;
}

.btn_money:hover {
    color: #fff !important;
    background: #598988;
    transition: .2s;
}

.btn_detail {
    color: #fff !important;
    border: 1px solid #3BAFDA !important;
    padding: 2px 6px 2px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background: #3BAFDA;
}

.btn_detail:hover {
    color: #fff !important;
    background: #3BAFDA;
    transition: .2s;
}

.btn_location {
    color: #fff !important;
    border: 1px solid #55595c !important;
    padding: 2px 6px 2px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background: #55595c;
}

.btn_location:hover {
    color: #fff !important;
    background: #55595c;
    transition: .2s;
}

.label_danger {
    width: 48px;
    display: inline-block;
    background-color: #d9534f;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-bottom: 3px;
}

.label_success {
    width: 48px;
    display: inline-block;
    background-color: #5cb85c;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-bottom: 3px;
}

.label_warning {
    width: 48px;
    display: inline-block;
    background-color: #f0ad4e;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-bottom: 3px;
}

.label_info {
    width: 48px;
    display: inline-block;
    background-color: #5bc0de;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-bottom: 3px;
}

.user_img img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.media [class*="avatar-"] i {
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: #999;
}

.user_name {
    text-transform: capitalize;
    margin-top: 5px;
}

table.dataTable thead .sorting::before {
    top: 10px !important;
    opacity: .9 !important;
}

table.dataTable thead .sorting::after {
    top: 10px !important;
    opacity: .9 !important;
}

table.dataTable thead .sorting_asc::before {
    top: 10px !important;
    opacity: .9 !important;
}

table.dataTable thead .sorting_asc::after {
    top: 10px !important;
    opacity: .9 !important;
}

table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before {
    right: 1em;
    content: "\2191";
    top: 10px !important;
    opacity: .9 !important;
}

table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after {
    right: 0.5em;
    content: "\2193";
    top: 10px !important;
    opacity: .9 !important;
}

.table thead tr th {
    font-size: 13px !important;
    color: #fff !important;
    background: #7b7b7b;
    border-top: 0px;
    border-bottom: 0px;
    font-weight: inherit;
}

.table thead tr td {
    font-size: 13px !important;
}

.table th {
    padding: 0.75rem 2rem 0rem 0.30rem !important;
    font-size: 14px !important;
}

.table td {
    padding: 0.60rem 0.30rem 0.30rem 0.30rem !important;
    font-size: 13px !important;
    color: #555 !important
}

.map_address {
    display: inline-block;
    overflow: hidden;
    width: 160px;
    white-space: initial;
    text-overflow: ellipsis;
}

.map_address1 {
    display: inline-block;
    overflow: hidden;
    width: 250px;
    white-space: initial;
    text-overflow: ellipsis;
}

/*.table-striped tbody tr:nth-of-type(2n+1){background:inherit;}*/

.content-header-title {
}

.main-menu.menu-dark .navigation > li > a {
    font-size: 14px !important;
}

.action_btn {
    font-size: 11px !important;
    margin-top: 2px;
    padding: 2px 6px 2px !important;
}

button {
    font-size: 14px !important;
}

.nav.nav-tabs.nav-top-border .nav-item a.nav-link.active {
    border-top: 3px solid #37BC9B;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #fff !important;
    background: linear-gradient(325deg, #dd5e89, #f7bb97);
    border-radius: 5px 5px 0px 0px;
}

.card {
}

.header-navbar.navbar-shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08) !important;
}

.form-control {
    /*border-radius: 0px;*/
    padding: 0.50rem 1rem !important;
}

.select.form-control {
    padding: 0.50rem 1rem !important;
}

.btn {
    padding: 0.40rem 1rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    float: left;
}

.table_search {
    margin-top: 15px;
}

.loader1 {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #333;
    border-bottom: 16px solid #333;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

select.form-control:not([size]):not([multiple]) {
    height: inherit !important;
}

.clear {
    clear: both;
}

.rd_group {
    padding-top: 10px;
}

.rd_input {
    margin-right: 6px;
}

.navbar-semi-dark .navbar-header {
    background: #F9F9F9 !important;
}

.navbar-semi-dark .navbar-header .brand-text {
    color: #222;
}

.card-header {
    padding: 1.5rem 1.5rem 1rem 1.5rem !important
}

.widget-panel {
    padding: 40px 20px 40px 0px;
    border-radius: 4px;
    color: #ffffff;
    position: relative;
    margin-bottom: 20px;
}

.widget-style-2 i {
    font-size: 60px;
    float: left;
    padding: 39.6px 30px 39.6px 30px;
    margin-top: -40px;
    margin-right: 20px;
    color: #edf0f0;
    background: rgba(255, 255, 255, 0.2);
}

.widget-style-2 h2 {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
}

select {
    background: url(https://www.apporio.com/wp-content/uploads/2018/09/icon-dropdown-3.png) 0 0 no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position: calc(100% - 15px);
}

html body a {
    color: #222 !important;
}

.bg-primary {
    background: linear-gradient(60deg, #f83600, #fe8c00) !important;
}

.bg-info {
    background: linear-gradient(60deg, #00adef, #0094da) !important;
}

.bg-success {
    background: linear-gradient(60deg, #16c99f, #12a682) !important;
}

.bg-warning {
    background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
}

.btn-primary {
    background: #708090 !important;
    border: #708090 !important;
}

.img-radius {
    border-radius: 10px;
}

.address_link {
    text-decoration: underline !important;
}

.input-group-text {
    padding: 0.50rem 1rem !important;
}